text{
   font-family:Arial;
   text-align: center;
}

label{
   font-family:Arial;
   text-align: center;
} 

/*-------------Table style-------------*/
table{
    width:70vw;
    margin-left : 5vw;
}
table td{
    margin:0 auto;
}

input{
   width: 10vw;
   text-align: center;
   font-size:0.8em;
}

table .payoff{
}

/* player color */

table .player1{
    color:red;
}

table .player2{
    color:blue;
}


/*-------------SVG style-------------*/
svg{
  width:80vw;
  height:70vh;
}

svg text{
    text-anchor:middle;
}


/*contour */
svg .contour{
    fill:none;
    stroke:black;
    stroke-width:2px;
}

/*upper envelopp */
svg polygon{
    stroke-width:0px;
}

/* player color */

svg .player1{
    fill:red;
}

svg .line1{
    stroke:red;
}

svg .player2{
    fill:blue;
}

svg .strat_left{
    text-anchor:start;
    font-style: italic;
   font-weight: bold;
   font-family:Roman;
}
svg .strat_right{
    text-anchor:end;
    font-style: italic;
   font-weight: bold;
   font-family:Roman;
}

svg .line2{
    stroke:blue;
}

svg #envelop1{
    fill:#ff6666;
}

svg #envelop2{
    fill:#6666ff;
}

/* lines*/
svg line{
    stroke-width:0.2em;
}
svg polyline{
    fill:none;
    stroke:black;
    stroke-width:0.2em;
}

svg .line_trans{
    stroke:rgba(255, 0, 0, 0.0);
    stroke-width:10px;
}

/* legend */

svg .legendh{
    font-size:1em;
}

svg .legendv.player2{
font-style: italic;
   font-weight: bold;
   font-family:Roman;}

svg .legendv.player1{
font-style: italic;
   font-weight: bold;
   font-family:Roman;}

svg .legendv{
    font-size:1em;
}

svg .title{
    font-size:2em;
}

/* sticks' properties*/
svg .sticklabel{
    fill:black;
    font-size:1em;
}

svg .stick{
    stroke:black;
    stroke-width:1px;
}


/* end points */
svg .pay{
     fill:yellow;
}

svg .br{
    fill:green;
}

/* Mixed strategy point */
svg .inter{
     fill:orange;
     stroke:black;
     stroke-width:1;
}


.strat{
   font-style: italic;
   font-weight: bold;
   font-family:Roman;
}


/* for canvas version */
canvas{
    #padding: 30px;
    margin: 50px;
}

