@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?rc0ao3');
	src:url('../fonts/icomoon.eot?#iefixrc0ao3') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?rc0ao3') format('truetype'),
		url('../fonts/icomoon.woff?rc0ao3') format('woff'),
		url('../fonts/icomoon.svg?rc0ao3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\f007";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-chain-broken:before {
	content: "\f127";
}
.icon-unlink:before {
	content: "\f127";
}
.icon-file:before {
	content: "\f15b";
}
.icon-user-plus:before {
	content: "\f234";
}
.icon-dice:before {
	content: "\e600";
}
