/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */
*, html, body{
margin: 0;
}

html, body {
    padding: 0;
    height: 100%;
}



#canvas {
    height: 90%;
    padding-top: 10px;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.darker {
    background: #e3e3e3;
}

a {
    color: black;
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}

/* ==========================================================================
   Toolbar styles
   ========================================================================== */

#toolbar {
    height: 55px;
    background: #37474f;
    color: #fff;
}


#toolbar > div {
    height: 100%;
    display: inline-block;
}

#toolbar ul, #toolbar li{
    float: left;
}

#toolbar ul {
    list-style: none;
    padding: 0 20px;
}

#player-buttons {
    float: left;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.vertical-centered{
    position: relative;
    top: 50%;
    transform:  translateY(-50%);
}

.left {
    float: left;
}

.ml-10 {
    margin-left: 10px;
}


/* ==========================================================================
   Elements classes
   ========================================================================== */
/* Common button styles */
.button {
    float: left;
    min-width: 30px;
    max-width: 30px;
    display: block;
    /*margin: 1em;*/
    /*padding: 1em 2em;*/
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.button i{
    line-height: 30px;
}

.button:focus {
    outline: none;
}

.button > span {
    vertical-align: middle;
}

.button--round-s {
    border-radius: 5px;
}

/* Sacnite Buttons */
.button.button--sacnite {
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.button--scanite.button--round-l {
    border-radius: 50%;
}
.button--sacnite.button--inverted {
    color: #37474f;
}
.button--sacnite::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    box-shadow: inset 0 0 0 35px #37474f;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
    transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite.button--inverted::before {
    box-shadow: inset 0 0 0 35px #fff;
}
.button--sacnite .button__icon {
    font-size: 22px;
    width: 22px;
}
.button--sacnite > span {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.button--sacnite:not(.disabled):hover {
    color: #37474f;
}
.button--sacnite.button--inverted:not(.disabled):hover {
    color: #fff;
}
.button--sacnite.button--inverted.active {
    color: #fff;
}
.button--sacnite:not(.active):not(.disabled):hover::before {
    box-shadow: inset 0 0 0 2px #37474f;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.button--sacnite.button--inverted:not(.disabled):hover::before {
    box-shadow: inset 0 0 0 2px #fff;
}
.button--sacnite.button--inverted.active:not(.disabled)::before {
    box-shadow: inset 0 0 0 2px #fff;
}
.button.disabled {
    color: #BBC2C5;
    cursor: default;
}

.text-button {
    color:black;
}

/* Matrix setting popup */
#matrixPopup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width:600px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:0px;
    text-align:center;
    z-index: 1000;
    box-shadow:10px 10px 5px #888888;
    vertical-align: center;
}

/*Settings modal*/

#settings {
    display: none;
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:0px;
    text-align:center;
    z-index: 1000;
    position : absolute;
    left:0px;
    top:0px;
    box-shadow:10px 10px 5px #888888;
}

#settings ul {
    width: 100%;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

#settings li{
    padding:12px;
    border-bottom:1px solid #eee;
}

#settings li label {
    width:206px;
    margin-top: 3px;
    display:inline-block;
    text-align: left;
    float:left;
    padding:3px;
    box-sizing: border-box;
}

#settings li input {
    height:20px;
    width:50px;
    padding:5px 8px;
}

#settings li input[type="color"]{
    width:20px;
    padding:0;
}

#settings li input[name="orientation"]{
    width:20px;
    padding:0;
}

#settings li:last-child {
    border-bottom:0;
}

#settings_bar {
    width:100%;
    background-color:#c2c2c2;
    position:relative;
    top:0px;
    border-radius:0px 0px 0 0;
    text-align:center;
    font-size:large;
    height:30px;
    cursor:move;
}
#player-colours label {
    width: 150px !important;
}

#orientation label {
    width: 85px !important;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 25px;
    text-decoration: none;
    font-weight: bold;
}

.close:hover {
    background: #c2c2c2;
    cursor: pointer;
}
