.foreign {
    text-align: left ;
}
.inside-foreign {
    display: inline-block;
    width: 300px;
}

.content-editable.growToLeft{
    text-align: right;
}
[content-editable="true"]:active,
[content-editable="true"]:focus{
    border:none;
    outline:none;
}
