.foreign {
    text-align: left ;
}
.inside-foreign {
    display: inline-block;
    width: 300px;
}

.contentEditable.growToLeft{
	text-align: right;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
	border:none;
	outline:none;
}
