.foreign {
    text-align: left ;
    /*width: 300px;*/
    height: 22px;
}
.inside-foreign {
    display: inline-block;
    min-width: 30px;
}

.content-editable-container {
    width: 300px;
}

.content-editable.grow-to-left{
    text-align: right;
    /*float: right;*/
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border:none;
    outline:none;
}
